@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

:root 
{
    --primary-color: #002e2c;
    --secondary-color: #89a78a;
    --accent1-color: #035e7b;
    --accent2-color: #42cafd;

    --heading-font: 'Barlow', serif;
    --paragraph-font: 'Quicksand', serif;

    --nav-background-color: #002e2c;
    --nav-link-color: #f3eff5;
    --nav-hover-link-color: #002e2c;
    --nav-hover-background-color: #f3eff5;
}

h1, h2, h3, h4, h5, h6
{
    font-family: var(--heading-font);
    color: var(--accent2-color);
    margin: 10px;
}

p
{
    font-family: var(--paragraph-font);
    color: var(--accent1-color);
    margin: 5px;
}

.sociallinks 
{
    text-decoration: none;
    width: 50px;
    height: 50px;
}

.hero img[src="images/heroimage.jpg"]
{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.hero h1
{
    margin: 1px;
    position: absolute;
    top: 600px;
    background-color: #f3eff52b;
    width: 100%;
    text-align: center;
    font-size: 50px;
}

.hero article
{
    display: block;
    position: absolute;
    top: 780px;
    background-color: rgba(173, 216, 230, 0.792);
    padding: 10px;
    text-align: left;
    width: 60rem;
    font-size: 25px;
}

.hero img
{
    width: 20rem;
    float: right;
}

.hero
{
    display: flex;
    justify-content: center;
}